@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,100,700);

body {
    background: #2f323b;
    font-size: 12px;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #707478;
    margin: 0;
}

* {
    font-weight: 400;
    font-size: 12px;
}

p {
    color: #777;
    line-height: 1.5;
    margin-top: 0.5em;
    padding: 0 0 25px;
    text-align: center;
}

a > img
table,
table.width100 {
    border: none;
}

pre {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: #f6a821;
    text-decoration: none;
}
    a:hover {
        color: #972D07;
    }

    a.subtle {
        color: #C73E1D;
        text-decoration: none;
        font-weight: normal;
        line-height: 1.1;
        word-wrap: break-word;
        font-size: 14px;
    }
    a.resolved {
        text-decoration: line-through underline;
    }

form {
    display: inline;
}

    input[type=text],
    textarea,
    select {
      height: 25px;
      font-size: 14px;
      color: #949ba2;
      border: none;
      border-radius: 4px;
      -webkit-box-shadow: none;
      box-shadow: none;
      -webkit-transition: none;
      -o-transition: none;
      transition: none;
      background-color: #494b54;
  }

    td select {
      width: 100%;
    }
    td select.small {
        width: 125px;
    }

    select[name="handler_id"],
    select[name="new_status"],
    select[name="rel_type"],
    input[name="dest_bug_id"],
    input[name="tag_string"],
    #tag_select {
      width: auto;
    }

    td textarea {
      height: auto;
      width: 100%;
    }

    label,
    input.button,
    input[type=submit],
    input.button-small {
        cursor: pointer;
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 3px;
        color: #fff;
        background-color: #f6a821;
        border-color: #f6a821;
    }

    input.button:hover,
    input[type=submit]:hover,
    input.button-small:hover {

    }

    input.button[value="Edit"] {
        background: url('../../images/update.png') 5px 5px no-repeat #3677b2;
        padding: 6px 8px 4px 35px;
        color: #fff;
        border: none;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -khtml-border-radius: 3px;
    }

span {

}
    span.required {
        /*color: #bb0000;*/
    }
    span.small {
      color: #FFF;
        /*font-weight: unset;*/
    }
    span.pagetitle {
        font-weight: bold;
        text-align: center
    }
    span.bracket-link {
        white-space: nowrap;
    }
    span.dependency_dated {
        color: maroon;
    }
    span.dependency_met {
        color: green;
    }
    span.dependency_unmet {
        color: red;
    }
    span.dependency_upgrade {
        color: orange;
    }

table {

}
    table.hide {
        width: 100%;
        border: solid 0 #fff;
    }
    table.width100 {
        width: 100%;
    }
    table.width90 {
        width: 90%;
    }
    table.width75 {
        width: 75%;
    }
    table.width60 {
        width: 60%;
    }
    table.width50 {
        width: 50%;
    }

td {
    padding: 5px 15px;
    text-align: left;
    color: #FFF;
}
    td.center {
        text-align: center;
    }
    td.left {
        text-align: left;
    }
    td.right {
        text-align: right;
    }
    td.category {
        background-color: #2a2d35;
        color: #fff;
        vertical-align: top;
        padding: 15px;
    }
        td.category a,
        td.right a,
        td.center a,
        td.left a {
            color: #fff;
        }

        td.category a:hover,
        td.right a:hover,
        td.center a:hover,
        td.left a:hover {
            color: #fff;
            text-decoration: underline;
        }

    td.overdue {
        background-color: #ff0000;
        color: #333;
        font-weight: bold;
    }
    td.col-1 {
        background-color: #d8d8d8;
        color: #333;
    }
    td.col-2 {
        background-color: #e8e8e8;
        color: #333;
    }
    td.form-title {
        background: #24262d;
        color: #FFF;
        text-align: left;
        padding-bottom: 12px;
        padding-top: 18px;
        padding-left: 15px;
    }
        td.login-info-left,
        td.form-title,
        td.form-title span,
        td.form-title-caps {
            font-weight: 400;
        }
    td.form-title-caps {
        background-color: #fff;
        color: #333;
        text-align: left;
        text-transform: uppercase;
    }
    td.nopad {
        padding: 0;
    }

    td.print {
        text-align: left;
        padding: 2px;
    }
    td.print-category {
        color: #333;
        font-weight: 400;
        text-align: right;
        padding: 2px;
    }
    td.print-overdue {
        color: #333;
        font-weight: 400;
        padding: 2px;
    }
    td.print-bottom {
        border-bottom: 1px solid #dedede;
    }
    td.print-spacer {
        background-color: #fff;
        color: #333;
        font-size: 1pt;
        line-height: 0.1;
        padding: 0;
    }

    #buglist td {
          background: rgba(0, 0, 0, 0.2);
    }

tr {

}
    tr.spacer {
        background-color: #2f323b;
        color: #333;
        height: 5px;
    }

    tr.row-1 {
        background-color: rgba(68,70,79,0.3);
        color: #333;
    }

    tr.row-2 {
        background-color: #2f323b;
        color: #333;
    }

    tr.row-category {
        background-color: #2d353c;
        color: #fff;
        font-weight: 400;
    }
        tr.row-category a {
            color: #fff;
        }
            tr.row-category td {
                text-align: center;
            }

    tr.row-category2 {
        background-color: rgba(68, 70, 79, 0.5);
        color: #fff;
    }
        tr.row-category2 a {
            color: #fff;
        }

    tr.row-category-history {
        background-color: #2d353c;
        color: #fff;
        font-weight: 400;
    }
        tr.row-category-history {
            color: #fff;
        }

    tr.row-category-history td {
        text-align: left;
    }

    tr.vcenter {
        vertical-align: middle;
    }

    tr.print {
        vertical-align: top;
    }

    tr.print-category {
        color: #333;
        font-weight: 400;
    }

#buglist tr {
    text-align: center;
}

td.bugnote-public {
    background-color: #2d353c;
    color: #fff;
    font-weight: 400;
    width: 25%;
    line-height: 1.4;
    vertical-align: top;
}
    td.bugnote-public a {
        color: #fff;
    }

td.bugnote-private {
    background-color: #e8e8e8;
    color: #333;
    font-weight: 400;
    width: 25%;
    line-height: 1.4;
    vertical-align: top;
}

td.bugnote-note-public {
    background-color: #e8e8e8;
    color: #333;
    width: 75%;
    vertical-align: top;
}

td.bugnote-note-private {
    background-color: #e8e8e8;
    color: #333;
    width: 75%;
    vertical-align: top;
}

td.login-info-left,
td.login-info-middle,
td.login-info-right {
    padding: 15px;
    /* background: rgba(68, 70, 79, 0); */
    border: none;
}

td.login-info-left {
    width: 33%;
    text-align: left;
}

td.login-info-middle {
    width: 33%;
    text-align: center;
}

td.login-info-right {
    width: 33%;
    text-align: right;
    white-space: nowrap;
}

td.menu {
    color: #fff;
    background: #24262d;
    text-align: left;
    width: 100%;
    padding: 11px 5px 14px;
}
    td.menu a {
        white-space: nowrap;
        padding: 5px 10px;
        font-weight: 300;
        color: #FFFFFF;
        text-decoration: none;
    }

    td.menu a:hover {
      background: #f6a821;
      color: #FFF;
    }
td.news-heading-public {
    background-color: #2d353c;
    color: #fff;
    text-align: left;
    border-bottom: 1px solid #dedede;
}

td.news-heading-private {
    background-color: #d8d8d8;
    color: #333;
    text-align: left;
    border-bottom: 1px solid #dedede;
}

td.news-body {
    background-color: #fff;
    color: #333;
    padding: 16px;
}

img {
}
    img.icon {
        width: 11px;
        height: 11px;
    }

    img.delete-icon {
        position: relative;
        top: 5px;
        border: 0;
    }

div {
    padding: 3px;
}
    div.menu {
        background-color: #e8e8e8;
        color: #333;
        text-align: center;
        width: 100%;
        padding: 1px;
    }
    div.center {
        width: 50%;
        margin-right: auto;
        margin-left: auto;
    }
    div.border {
        background-color: #fff;
        border: solid 1px #dedede;
        text-align: center;
        position: relative;
    }
    div.quick-summary-left {
        width: 49%;
        padding: 2px;
        text-align: left;
        float: left;
    }
    div.quick-summary-right {
        width: 49%;
        padding: 2px;
        text-align: right;
        float: right;
    }

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.floatright {
    float: right;
}

.floatleft {
    float: left;
}

.small-normal {
    font-size: 11pt;
    font-weight: normal;
}

.small-subprojects {
    font-size: 11pt;
    width: 200px;
}

.bold {
    font-weight: 400;
}
    .bold-small {
        font-weight: 400;
    }

.italic {

}
    .italic-small {
        font-size: 11pt;
    }

.underline {
    text-decoration: underline;
}
    .underline-small {
        text-decoration: underline;
        font-size: 11pt;
    }

.strike {
    text-decoration: line-through;
}
    .strike-small {
        text-decoration: line-through;
        font-size: 11pt;
    }

.hidden {
    display: none;
}

.nowrap {
    white-space: nowrap;
}

.positive {
    color: green;
}

.negative {
    color: red;
}

.issue-status {
    border-bottom: 1px dotted #dedede;
}

.avatar {
    float: right;
    border: 0;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-radius: 5px;
}

.progress400 {
    position: relative;
    width: 400px;
    border: 1px solid #dedede;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1px;
}
    .progress400 .bar {
        display: block;
        position: relative;
        background: #6bba70;
        text-align: center;
        font-weight: normal;
        color: #333;
        height: 2em;
        line-height: 2em;
    }

hr {
    color: #cdcdcd;
}


/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  img.img-logo {
    width: 100%;
    height: auto;
    max-width: 250px;
    margin: 0 auto;
    display: block;
  }

  td.login-info-left,
  td.login-info-middle,
  td.login-info-right {
      display: none;
  }

  td.menu {

  }

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  #buglist thead tr,
  #buglist tr.row-category,
  #buglist td.form-title {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  #buglist tr { border: 1px solid #ccc; }

  #buglist td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  #buglist td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
  Label the data
  */
  #buglist tr.tr-view-bug td:nth-of-type(1):before { content: ""; }
  #buglist tr.tr-view-bug td:nth-of-type(2):before { content: ""; }
  #buglist tr.tr-view-bug td:nth-of-type(3):before { content: "P"; }
  #buglist tr.tr-view-bug td:nth-of-type(4):before { content: "ID"; }
  #buglist tr.tr-view-bug td:nth-of-type(5):before { content: "#"; }
  #buglist tr.tr-view-bug td:nth-of-type(6):before { content: "File"; }
  #buglist tr.tr-view-bug td:nth-of-type(7):before { content: "Category"; }
  #buglist tr.tr-view-bug td:nth-of-type(8):before { content: "Severity"; }
  #buglist tr.tr-view-bug td:nth-of-type(9):before { content: "Status"; }
  #buglist tr.tr-view-bug td:nth-of-type(10):before { content: "Updated"; }
  #buglist tr.tr-view-bug td:nth-of-type(11):before { content: "Summary"; }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  body {
    padding: 0;
    margin: 0;
    /* width: 320px; */
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    /* width: 495px; */
  }
}
